@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    padding:0;
    margin:0;
}

h1,h2 {
    margin:0;
    padding:0;
    font-size: inherit;
    font-weight: inherit;
}

ul {
    list-style: none;
}

body {
    background-color: #EAE8FE;
}

.logo {
    display: block;
    margin:0 auto;
    max-width: 386px;
}

.main {
    display:flex;
    gap:20px;
    justify-content: center;
    margin-top:43px;
    flex-wrap:wrap;
    
}
.main .vendingMachine-info,
.main  .total-info{
    background-color: #FFF;
    width: 360px;
    box-sizing:border-box;
}

.main .vendingMachine-info {
    padding: 31px 27px 28px;
}
.vendingMachine-info .list-item {
    display:grid;
    grid-template-columns: repeat(3,1fr); 
    margin-bottom:20px;
}


.vendingMachine-info .list-item:not(:nth-child(2n+1)) {
    gap:12px;
}


.vendingMachine-info .list-item li {
    position: relative;
    width: 94px;
    box-shadow:0px 0px 4px 0px #00000080;
    box-sizing: border-box;
    border-radius: 10px;
    padding:9px 11px 9px 13px; 
}

.vendingMachine-info .list-item li:active{
    outline:3px solid #6327FE;
}

.vendingMachine-info .list-item .sold-out::before {
    content: '';
    display: block;
    position:absolute;
    bottom: 0;
    top:0;
    left:0;
    right:0;
    background: no-repeat center / 60px 46px url('../style/images/Sold-out.png') rgba(0,0,0,0.5);
    border-radius:10px;
}

.vendingMachine-info .list-item .img-beverage {
    width: 36px;
}

.vendingMachine-info .list-item .txt-item{
    font-family: Noto Sans KR;
    font-size: 9px;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: 0em;
}

.vendingMachine-info .list-item .txt-price {
    width:100%;
    border:1px solid #6327FE;
    border-radius: 50px;
    background-color: #6327FE;
    font-family: Noto Sans KR;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;
    color:#FFF;
    text-align:center;
    padding: 5px 0;
    box-sizing: border-box;
    display: inline-block;
    margin-top:7px;
}

.vendingMachine-info .balance-info {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:12px;
}

.vendingMachine-info .balance-info .select-info {
    grid-column: 1/3;
    background: #EAE8FE;
    font-family: Noto Sans KR;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    padding:6px 10px 7px; 
    border-radius: 5px;
}

.vendingMachine-info .balance-info .txt-money {
    float:right;
}

.vendingMachine-info .balance-info .btn-put {
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 5px;
    font-family: Noto Sans KR;
    font-size: 13px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
}

.vendingMachine-info .balance-info .btn-put:nth-child(1) {
    padding:6px 0 8px;
}

.vendingMachine-info .balance-info .int-put {
    grid-column:1/3;
    padding:6px 0px 8px 6px;
    border-radius: 5px;
}

.vendingMachine-info .balance-info  .list-select {
    grid-column:1/3;
    background-color: #EAE8FE;
    height: 106px;
    border-radius:5px;
    overflow-y: scroll;
    padding:12px 18px 6px 12px;
    box-sizing: border-box;
}

.vendingMachine-info .balance-info .list-select li {
    background-color:#FFF;
    padding:6px 8px 7px 10px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom:12px;
}

.vendingMachine-info .balance-info .list-select li:after {
    content:'';
    display: block;
    clear: both;
}

.vendingMachine-info .balance-info .list-select .img-type {
    width:18px;
    vertical-align:top;
}
.vendingMachine-info .balance-info .list-select .txt-beverage {
    font-family: Noto Sans KR;
    font-size: 9px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0em;
    margin-left: 10px;
}

.vendingMachine-info .balance-info .list-select .txt-number-one,.txt-number-two,.txt-number-three,.txt-number-four,.txt-number-five,.txt-number-six {
    border: 1px solid #BDBDBD;
    border-radius:5px;
    font-family: Noto Sans KR;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    float:right;
    text-align: center;
    padding:3px 11px 5px;
}

.vendingMachine-info .balance-info  .btn-get {
    background-color: #6327FE;
    border-radius: 5px;
    color:white;
    font-family: Noto Sans KR;
    font-size: 13px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
}

.main  .total-info {
    background-color: #EAE8FE;
}


.total-info .cont-total {
    background-color: #FFF;
    padding:9px 27px;
    border-radius:5px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.total-info .total-buy {
    background-color: #EAE8FE;
    padding:6px 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.total-info .total-buy .txt-funds {
    font-family: Noto Sans KR;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
}

.total-info .total-buy .txt-totalfunds {
    font-family: Noto Sans KR;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    float:right;
}

.cont-get {
    background-color:#FFF;
    padding: 0 27px 36px;
    box-sizing: border-box;
    overflow:hidden;
}

.cont-get .tit-total {
    font-family: Noto Sans KR;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    margin:25px 0 13px;
}


.cont-get .list-select{
    background-color: #EAE8FE;
    height: 106px;
    border-radius:5px;
    overflow-y: scroll;
    padding:12px 18px 6px 12px;
    margin:0 auto;
    height: 364px;
    box-sizing:border-box;
    border-radius: 5px;
}

.cont-get .list-select li {
    background-color:#FFF;
    padding:6px 8px 7px 10px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom:12px;
}

.cont-get .list-select li:after {
    content:'';
    display: block;
    clear: both;
}

.cont-get .list-select .img-type {
    width:18px;
    vertical-align:top;
}
.cont-get .list-select .txt-beverage {
    font-family: Noto Sans KR;
    font-size: 9px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0em;
    margin-left: 10px;
}

.cont-get .list-select .txt-number-one,.txt-number-two,.txt-number-three,.txt-numberfour,.txt-number-five,.txt-number-six {
    border: 1px solid #BDBDBD;
    border-radius:5px;
    font-family: Noto Sans KR;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    float:right;
    text-align: center;
    padding:3px 11px 5px;
    box-sizing: border-box;
}

.cont-get .txt-total {
    margin-top: 6px;
    font-family: Noto Sans KR;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    display:block;
    text-align: right;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    body {
    background-color: #fff;
    }

    .main {
        margin-top:0px;
    }

    .main .vendingMachine-info {
        padding-bottom: 0;
    }
    .header .logo {
    width: 188px;
    height: 88px;
    }

    .total-info .cont-total{
        margin-bottom: 0;
    }
}